<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生信息</title>
</head>
<body>
    <h1>学生信息列表</h1>
    <ul>
        {% for student in students %}
            {% if forloop.counter|divisibleby:2 %}
                <li style="color:red">
                    {{student.sname}}--{{student.scontend}}--{{ forloop.counter }}
                </li>
            {% else%}
                <li style="color:yellow">
                    {{student.sname}}--{{student.scontend}}--{{ forloop.counter }}
                </li>
            {% endif %}
            {% empty %}
                <li>目前没有学生</li>
        {% endfor %}
    </ul>
</body>
</html>